﻿@using (Html.BeginForm("Login", "Home",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post,
            new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Username", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("username", "", new { @class = "form-control" })
            @Html.ValidationMessage("username", "Внесете корисничко име", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Password", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Password("password", "", new { @class = "form-control" })
            @Html.ValidationMessage("password", "Внесете лозинка", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
            @Html.ActionLink("Регистрирај се", "Register", "Account", null, null)
            <span class="text-danger">@ViewBag.Message</span>
            <span class="text-success">@ViewBag.Register</span>
        </div>
    </div>
}
